.CodeMirror {
  background-color: #EEE; }

.content {
  background-color: #ffb; }

p:hover {
  background-color: rgba(0, 0, 0, 0.1); }

html {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAYAAADEUlfTAAAAGUlEQVQIW2NkYGCQBGKsgBEq+Ryb7KCTBABK3AYhZzBkvgAAAABJRU5ErkJggg==); }

.content {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); }

#dirty {
  float: left; }

#clean {
  float: right; }

h1 {
  font-family: 'Jacques Francois Shadow', cursive; }

body {
  font-family: 'Lora', serif; }

h1 {
  font-size: 3em; }

.content {
  height: 42em; }

#dirty,
#clean {
  margin: 1em; }

p {
  margin: 2em; }

h1 {
  padding-bottom: 0.5em; }

.content {
  margin: 5em auto; }

.content {
  padding: 0 2em 2em 2em; }

h1 {
  -webkit-transform: rotate(-5deg); }

#dirty,
#clean {
  width: 45%; }

.content {
  width: 60em; }

a {
  z-index: 100; }
