.class1 {
  color: red; }

.class1 {
  color: green;
  padding: 2em;
  background-color: red; }

.class2 {
  color: green;
  padding: 10em; }
  .class2 h1 {
    background-color: blue; }
  .class2 h1 {
    background-color: red; }
