.notice {
  color: green; }

.notice {
  color: green;
  padding: 2px;
  background-color: red;
  display: table; }

.error {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #050505; }
  .error h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff; }
  .error ul li {
    font-size: 12px;
    list-style: square; }
