.class1 {  color: red; }

.class1 {
  color: green;
  padding: 2em;
  background-color: red;
}

.class2 {
  color: green;
  h1 { background-color:blue }
  h1 { background-color:red }
  padding: 10em
}
